*{box-sizing: border-box;}


h1 {
  width: 100%;
  font-size: 32px;
  margin: 30px auto;
  text-align: center;
}
h2 {
  font-size: 25px;
  float: right;
  text-align: right;
  margin-right: 100px;
}
#product-images{
  width: 70%;
  float: right;
}
#right-image{
  margin-right: 20px;
}
 figure {
  width: 25%;
  margin: 20px;
}
div{
  overflow: hidden;
  width: 100%;
}
section:first-of-type {
position: relative;
overflow: hidden;
}
/* section:first-of-type > * {
  float: left;
} */
section:first-of-type > p{
  font-size: 20px;
  margin: 0 20px;
  position: absolute;
  top: 45%;
  right: 67%;
  transform: translateY(-50%);
}
#pOne {
font-size: 20px;
margin: 0 20px;
position: absolute;
top: 45%;
right: 68%;
transform: translateY(-60%);
}
#pTwo {
  font-size: 20px;
margin: 0 20px;
position: absolute;
top: 45%;
right: 33%;
transform: translateY(-60%);
}
img {
  width: 100%;
}
#instructions {
  clear:  right;
  width: 70%;
  float: right;
}
section:first-of-type :first-child{
  margin-right: 70px;
}

section:first-of-type > * {
  float: left;
}
ul{
  margin: 0 auto;
  width: 550px;
}
li {
  font-size: 20px;
}
footer{
  height: 20px;
}